header img{
    height: 150px;
    border-radius: 10px;
    box-shadow: 10px;
}
header{
    background-color: rgb(255, 223, 80);
    border-radius: 10px;
    box-shadow: 10px;
    padding: 10px;
    text-align: center;
}
nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color:brown;
    padding: 5px 15px;
    font-size: 16px;

}
nav a:hover{
    color:rgb(94, 33, 14);
    background-color: rgb(255, 145, 0);
    border-radius: 0px 20px 0px 20px;
    box-shadow: 5px 5px 5px red;
    transition: 1.5s;

}
.banner{
    font-weight:bold
}